@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

:root {
  --color-principal: #b21c29;
  --color-light: #c5833b;
  --color-shadow: #904a20;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Bebas Neue", cursive;
  text-decoration: none;
}
html {
  height: 100%;
}
body {
  width: 100%;
  min-height: 100%;
}
.index__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto auto auto;
  grid-template-areas:
    "header"
    "main"
    "album"
    "merch"
    "footer";
}

header {
  background-color: var(--color-principal);
  width: 100%;
  grid-area: header;
}
#header__img {
  cursor: pointer;
  width: 12vw;
  padding: 10px;
}
nav {
  display: flex;
  flex-flow: row nowrap;
}
.navbar {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

nav ul li {
  margin-right: 2rem;
}

nav ul li a {
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
  text-align: center;
}
main {
  width: 100%;
  grid-area: main;
}

/* INDEX */
.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.slider__content {
  position: relative;
  width: 90%;
  height: 70vh;
  margin-bottom: 3rem;
}

.slider__content li {
  list-style: none;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: inherit;
  height: inherit;
  transition: opacity 0.5s;
}

.slider__content li img {
  margin-left: 6%;
  width: 100%;
  height: 65vh;
  object-fit: cover;
}

.slider__content li:first-child {
  opacity: 1;
}

.slider__content li:target {
  opacity: 1;
}

.menu__slider {
  display: flex;
  gap: 5px;
  margin-bottom: 1rem;
}

.menu__slider li {
  display: inline-block;
  text-align: center;
}

.menu__slider li a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background-color: var(--color-shadow);
  padding: 3px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  border-radius: 100%;
}

/* ALBUM */

.div__main {
  grid-area: album;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}
.main__video {
  margin-left: 6rem;
  padding-bottom: 56.25%;
  position: relative;
  height: 0px;
}

.main__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.wrap__video {
  width: 150%;
}

.main__titles {
  height: 50vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main__titles h1 {
  color: var(--color-shadow);
  font-size: 4rem;
  letter-spacing: 20px;
}
.main__titles h2 {
  color: var(--color-shadow);
  font-size: 3rem;
  text-align: center;
}

.main__titles p {
  width: 70%;
  font-size: 1.2rem;
}

.merch {
  width: 100%;
  height: 70vh;
  overflow: hidden;
  grid-area: merch;
}
.card__merch__left {
  display: inline-block;
  width: 50%;
}

.card__merch__right {
  display: inline-block;
  width: 50%;
}
.div__section {
  width: 100%;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
}
.text__merch {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 70vh;
  z-index: 11111;
}

.div__section .text__merch h2 {
  font-size: 3rem;
  color: var(--color-shadow);
  text-align: center;
  letter-spacing: 10px;
}

.div__section .text__merch h3 {
  font-size: 2rem;
  color: var(--color-shadow);
  text-align: center;
  letter-spacing: 15px;
}

.img__merch {
  display: inline-block;
  width: 50%;
}

footer {
  width: 100%;
  padding: 1em;
  background-color: var(--color-principal);
  display: flex;
  grid-area: footer;
}

footer p {
  color: #fff;
  font-size: 2rem;
  margin-left: 2rem;
  text-align: start;
  width: 10%;
}

footer .media__footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

footer .media__footer a {
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
  margin-right: 1rem;
}

.bi {
  font-size: 2rem;
}

/* DISCOGRAFIA */

.disco__grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.album {
  grid-area: main;
}
.albums {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.albums h1 {
  width: 80%;
  text-align: center;
  letter-spacing: 1rem;
  padding: 1rem;
  color: var(--color-shadow);
  font-size: 4rem;
}

.albums h2 {
  width: 80%;
  color: var(--color-shadow);
  font-size: 3.5rem;
  text-align: center;
  letter-spacing: 1rem;
  padding: 1rem;
}
.videos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

/* GALERIA */
.galery__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "img"
    "footer";
}

.img__grid {
  grid-area: img;
}

.galery {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.galery img {
  width: 500px;
  border-radius: 25%;
  filter: grayscale();
}

.galery img:hover {
  filter: opacity(0.9);
  filter: none;
  transform: scale(1.04);
}

/* NOSOTROS */

.bio__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto auto;
  grid-template-areas:
    "header"
    "bio"
    "map"
    "footer";
}
.bio__main {
  grid-area: bio;
}
#biography {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#biography h1 {
  padding: 1rem;
  color: var(--color-shadow);
  font-size: 4rem;
  letter-spacing: 20px;
  justify-content: center;
}

#biography p {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: var(--color-shadow);
}

#ul__name {
  display: flex;
  flex-flow: row nowrap;
  gap: 4rem;
  list-style: none;
}

.ul__img {
  width: 300px;
}

#bio div ul li {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
#biography ul li {
  font-size: 1.5rem;
  color: var(--color-shadow);
}

#contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#map {
  grid-area: map;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-bottom: 2rem;
}

#map p {
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  color: var(--color-shadow);
}

#map iframe {
  width: 100%;
  align-items: center;
  box-shadow: 7px 13px 37px #000;
}

form {
  width: 20%;
  display: flex;
  flex-flow: column nowrap;
  padding: 30px;
  margin-top: 100px;
  margin-bottom: 60px;
  border-radius: 10px;
  color: #fff;
  background-color: var(--color-principal);
  box-shadow: 7px 13px 37px #000;
  position: fixed;
  bottom: 0;
  left: 0;
}
form legend {
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
}

form .controls {
  width: 100%;
  background-color: var(--color-light);
  padding: 6px;
  border-radius: 3px;
  margin-bottom: 16px;
  border: 1px solid var(--color-shadow);
  font-size: 18px;
  color: #fff;
}

form .form__btn {
  width: 100%;
  background-color: #c5833b;
  border: none;
  padding: 12px;
  color: #fff;
  margin: 16px 0;
  font-size: 22px;
}

/* EVENTOS */

.event__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-template-areas:
    "header"
    "list"
    "footer";
}

.list {
  grid-area: list;
}
.container {
  width: 75%;
  position: relative;
  margin-left: 15rem;
}
#event__title {
  letter-spacing: 1rem;
  padding: 1rem;
  color: var(--color-shadow);
  font-size: 4rem;
  margin-left: 30%;
}

.event {
  color: var(--color-shadow);
  position: relative;
  margin-bottom: 1rem;
  border-bottom: #b21c29;
  border-style: none none dotted none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.start {
  width: 66%;
  position: relative;
  font-size: 25px;
  margin-left: 1rem;
  padding: 5px;
}

.location {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 5px;
}

.place {
  font-size: 20px;
}

.city {
  margin-left: 25rem;
  font-size: 20px;
}

.button {
  position: absolute;
  right: 10px;
  top: 8px;
}
.button a {
  border-radius: 3px;
  display: block;
  margin: 9px 0 0 9px;
  padding: 5px 10px;
  text-align: center;
  width: 110px;
  color: white;
  background-color: var(--color-shadow);
}

.button a:hover {
  color: #000;
  background-color: var(--color-principal);
}

@media screen and (max-width: 1023px) {
  /* NAVBAR */
  nav {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  #header__img {
    cursor: pointer;
    width: 15vh;
    padding: 10px;
  }

  .navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }

  nav ul li {
    margin-right: 0rem;
  }

  nav ul li a {
    font-size: 1.5rem;
  }

  .div__main {
    flex-direction: column;
  }

  .wrap__video {
    width: 80%;
  }

  .main__titles {
    height: 30vh;
    margin-bottom: 5rem;
    margin-top: 5rem;
  }

  .main__titles h1 {
    color: var(--color-shadow);
    font-size: 3rem;
    letter-spacing: 10px;
  }
  .main__titles h2 {
    color: var(--color-shadow);
    font-size: 1.5rem;
    text-align: center;
  }

  .main__titles p {
    width: 60%;
    font-size: 1.2rem;
  }

  .main__video {
    margin-left: 0;
  }

  .media__footer {
    margin-right: 1rem;
  }
  /* DISCOGRAFIA */

  /* EVENT */
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 0;
  }
  .button {
    position: absolute;
    left: 250px;
    top: 40px;
  }
  .event {
    justify-content: center;
    align-items: center;
    border-bottom: #b21c29;
    border-style: none dotted dotted none;
  }

  /* GALERIA */

  .galery img {
    width: 450px;
    border-radius: 25%;
    filter: grayscale();
  }

  /* NOSOTROS */
  form {
    width: 70%;
    position: relative;
  }
  #map {
    width: 80%;
  }
  #ul__name {
    display: flex;
    flex-flow: column wrap;
    gap: 4rem;
    list-style: none;
  }
  .ul__img {
    width: 400px;
  }
  #biography p {
    width: 80%;
  }

  /* DISCOGRAFIA */

  .videos {
    width: 90%;
  }
}

@media screen and (max-width: 450px) {
  .navbar {
    gap: 0.5rem;
  }
}
