.albums {
  display: flex;
  text-align: center;
  h2 {
    color: #fff;
    font-size: 4rem;
    letter-spacing: 20px;
  }
}

.videos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}
