.albums {
  display: flex;
  text-align: center;
  h2 {
    color: map-get($font-colors, "text");
    font-size: 4rem;
    letter-spacing: 20px;
  }
}

.videos {
  @include flex-center(row);
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 2rem;
}
