footer {
  background-color: map-get($font-colors, "main");
}

#footer-text {
  color: map-get($font-colors, "text");
  font-size: 2rem;
  text-align: center;
  margin-left: 1rem;
}

.media__footer {
  width: 50%;
  a {
    text-decoration: none;
    font-size: 2rem;
    color: map-get($font-colors, "text");
    margin-right: 1rem;
  }
}

.bi {
  font-size: 2rem;
}
