.galery img {
  width: 500px;
  border-radius: 25%;
  filter: grayscale(100%);

  &:hover {
    filter: opacity(0.9);
    filter: none;
    transform: scale(1.04);
  }
}
@media (max-width: 576px) {
  .galery img {
    width: 450px;
  }
}
